<!-- <div class="wrapper"> -->

<!-- <div class="page-header section-dark" style="background-image: url('assets/img/okta_blue_bg.png')"> -->
<!-- <h1><img src="assets/img/okta_japan_white_medium.png" alt="" class="responsive"></h1> -->

<div class="page-header" style="background-image: url('assets/img/okta_blue_bg.png')">
  <!-- <div class="page-header" style="background-color: #00297A"> -->
  
    <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center">
      <div class="item userNameItem" fxFlex="0 0 90%">ようこそ <h1>{{this.OktaGetTokenService.strUserName}}</h1></div>
      <div class="item">First</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">5</div>
      <div class="item">Last</div>
    </div>
  
    <!-- </div> -->